/* Roboto Font regular 400 and bold 700  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;

}

/* Center everything */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.loading{
    position: absolute;
    color: #fff;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#blurry-image{
    width: 100%;
    height: auto;
}