/* Roboto Font regular 400 and bold 700  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;

}

/* Center everything */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 100vh;
    padding: 10px 10px;
    border: 1px solid red;
    overflow: hidden;
}

.nav-links{
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-right: 2px;
    border: 1px solid black;
}

section{
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
}

h1{
    line-height: 0;
}
.author {
    font-size:0.8rem;
}

p{
    font-size: 1rem;
}

.navigation{
    position: relative;
}

.hamburger{
    z-index:1;
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: orangered;
}

nav span{
    font-size: 25px;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}
