/* Roboto Font regular 400 and bold 700  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;

}

/* Center everything */
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    overflow: hidden;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 60vw; 
    height: 100vh;
    margin: 100px 0 0;
    border: 1px solid black;
    overflow: hidden;
}

h1{
    line-height: 0;
}
.author {
    font-size:0.8rem;
}

p{
    font-size: 1rem;
}

.navigation{
    display: flex;
    flex-direction: column;
}