/* Roboto Font regular 400 and bold 700  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;

}

/* Center everything */
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #efedd6;
    overflow-x: hidden;
}

.container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: #2b72c9;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 2.6px;
    transition: transform 0.3s ease-in-out;
}   

.box:nth-of-type(n+4){
    transform: translateX(calc(300%));
}

.box:nth-of-type(even):nth-of-type(n+4){
    transform: translateX(calc(-300%));
}

.box:nth-of-type(n+4).slide{
    transform: translateX(0);
}


@media(max-width: 480px){
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 24px;
    }

    .container{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: 300px;
        height: 150px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box:nth-of-type(n+4){
        transform: translateX(calc(250%));
    }

    .box:nth-of-type(even):nth-of-type(n+4){
        transform: translateX(calc(-250%));
    }
    
    .box:nth-of-type(n+4).slide{
        transform: translateX(0);
    }
}