/* Roboto Font regular 400 and bold 700  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;

}

/* Center everything */
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    color: #fdfdfd;
    background-color: rgb(105, 30, 255);
}

.container{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: width 0.2s linear;
}

.expand{
    width: 200px;
}

.wrapper.expand button{
    right: 0px;
}

/* if the wrapper is expanded, set input opacity to 100% */
.wrapper.expand input{
    opacity: 1;
}

.wrapper button{
    border: 0;
    width: 50px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    transition: right 0.2s ease;
} 

.wrapper button i {
    font-size: 24px;
    color: #333;
}

.wrapper input{
    width: 100%;
    height: 50px;
    border:0;
    font-size: 18px;
    padding: 15px;
    opacity: 0;
    transition: width 0.2s ease, opacity 0.2s ease;
}

.wrapper input:focus{
    outline:groove;
    outline-width: 1px;
}


/* 
button{
    position: absolute;
    border: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    transition: transform 0.4s ease;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

} */

/* first version where we move button with translateX */
/* .slideX{
    transform: translateX(80px);
} */
